.card {
  width: 100%;
  min-width: 360px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.card_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.card_title h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

.card_info {
  display: flex;
}

.info_items {
  width: 50%;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info_items ul {
  padding: 0;
  list-style-type: none;
}

.info_items ul li {
  margin-bottom: 5px;
}

.card_info .info_items .btn_contact {
  width: 100%;
  max-height: 42px;
  margin: 0;
  font-size: 16px;
  color: #222;
  background: #7cc5d9;
  border: 0;
  border-radius: 8px;
}
