.properties {
	display: flex;
	max-width: 100%;
	margin-top: 70px;
	background-color: transparent;
	padding: 0;
}

.properties .col {
}

#root > div.App > div > div:nth-child(3) > div > div > div:nth-child(2) {
	width: 100%;
	margin: 0 !important;
	border-bottom: 1px solid #ccc;
}
.property-filter-bar {
	justify-content: space-between !important;
	margin-left: 0 !important;
}
.properties-content-container {
	display: flex;
	flex-direction: row;
	padding: 3px !important;
}

.properties-map-box {
	flex: 0 0 60%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	padding: 0;
	overflow: hidden; /* Ensure map doesn't overflow */
}

.property-listing {
	display: flex;
	flex: 0 0 40%;
	overflow-y: auto; /* Enable vertical scrolling */
}
.scrollable-box {
	max-height: 100vh; /* Set the maximum height to 80% of the viewport height */
	overflow-y: auto; /* Enable vertical scrolling */
}

@media screen and (max-width: 1080px) {
	.properties-content-container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.property-listing {
		margin-top: 20px;
		padding: 15px;
		border-top: 1px solid #ccc;
	}
}
