.properties {
	display: flex;
	margin: 0;
}

.properties-map-box {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 70%; /* Adjust as needed */
	overflow: hidden; /* Ensure map doesn't overflow */
}

.property-listing {
	flex: 1;
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30%; /* Adjust as needed */
	background-color: #f9f9f9;
	overflow-y: auto; /* Enable vertical scrolling */
}

.property-listing-search-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

.property-listing-card-box {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 10px;
	overflow-y: auto; /* Enable vertical scrolling */
}
