.explore-container {
	text-align: center;
	padding: 3rem 0 3rem 0;
	margin-bottom: 2rem;
}

.explore-cards {
	display: flex;
	justify-content: center;
	margin: 2rem;
	margin-bottom: 1.5rem;
}
.explore-more-btn {
	width: 20rem;
	font-size: 1rem;
	font-weight: 600;
	height: 3rem;
}
