.banner-container {
	background-image: url('https://www.ikea.com/images/a-light-living-room-centred-around-a-jaettebo-three-and-a-ha-d80334e03b4e4094d0e02846c7de2e85.jpg?f=xxxs?imwidth=300');
	background-size: cover;
	height: 550px;
	color: #fff;
	position: relative;
}

.banner-container::before {
	content: '';
	background: linear-gradient(
		to top,
		rgba(0, 0, 0, 0.776),
		rgba(0, 0, 0, 0.219)
	);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}
.banner-wrap {
	text-align: center;
	position: absolute;
	top: 35%;
	left: 0;
	right: 0;
}
.banner-wrap h1 {
	font-size: 3.8rem;
	font-weight: 600;
	line-height: 64px;
	margin-bottom: 1.125rem;
	color: #00bf67;
	text-shadow: #0000009c 0.06em 0.06em 0;
	/* z-index: 100; */
	margin-top: 1.8rem;
}
.banner-wrap p {
	font-size: 1.7rem;
	font-weight: 500;
	line-height: 30px;
	margin-bottom: 2rem;
	text-shadow: #0000009c 0.06em 0.06em 0;
	/* z-index: 100; */
}
.banner-wrap-search {
	display: flex;
	justify-content: center;
}
.banner-wrap-search .form-control {
	padding: 0.8rem;
	width: 40rem;
	font-size: 1.1rem;
	padding-left: 1.3rem;
	height: 3.5rem;
}
.banner-wrap-search .btn {
	margin-left: 1rem;
	padding: 0 1.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	height: 3.5rem;
}

@media screen and (max-width: 768px) {
	.banner-wrap-search .form-control {
		width: 26rem;
	}
	.banner-wrap h1 {
		font-size: 3rem;
	}
	.banner-container {
		height: 600px;
	}
	.banner-wrap p {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 520px) {
	.banner-wrap-search .form-control {
		width: 17rem;
	}
	.banner-wrap h1 {
		font-size: 3rem;
	}
	.banner-container {
		height: 600px;
	}
	.banner-wrap p {
		font-size: 1.5rem;
	}
}
