.contact-container{
    display: flex;
    flex-direction: column;
    border: 1px solid  #198754;
    /* border: 1px solid  #00918B; */
    padding: 1.5rem 1rem;
    margin: 2rem 0;

}
.contactName-logo {
    align-items: center; 
}
.contact-logo{
    width: 100px;
    height: auto;
    display: flex;
    justify-content: end;
    position: relative; 
    z-index: -1; 
}

.contact-logo-img {
    max-width: 100px; 
    max-height: 70px;
}

.contact-message-btn.btn,
.contact-message-btn.btn:active{
    /* background-color: #00918B; */
    background-color:#198754;
    border: none;
    margin-left: 0;
    height: 3rem;
}

.contactIcon {
    width: 25px;
    margin-bottom: 0.25rem;
}