.propertyPricing-container {
    padding: 0;
    
}

.propertyPricing-card {
   border: 1px solid #cacaca;
   margin: 1rem 0;
}

.nav-tabs .nav-link {
    /*Tabs border*/
      border: 1px solid skyblue;
      border-radius: 0;
      color: black; /*Tab font color*/
} 

.nav-tabs {
    border: 0;
    --bs-nav-tabs-link-active-border-color: skyblue;
    --bs-nav-tabs-link-active-color: white;
    --bs-nav-tabs-link-active-bg: skyblue;  
    margin: 2rem 0;
}

.property-type-tab{
    margin-top: 0.5rem;
}

.propertyTypeTab-container {
    margin: 1rem 0 ;
    padding: 0;
}
