.propertyPricing-container {
    padding: 0;
    margin: 3rem 0;
}

.propertyPricing-card {
   border: 1px solid #198754;
   margin: 0.5rem;
}

.nav-tabs .nav-link {
    /*Tabs border*/
      /* border: 1px solid #007987;
      border-radius: 0;
      color: #007987; Tab font color */
     border:0.1px solid #cacaca8b;
      border-radius: 0;
      color: white; 
      background-color:#198754 ;
      font-size: 1rem;
} 

.nav-link {
    width: 100px;
}

.nav-tabs {
    border: 0;
    /* --bs-nav-tabs-link-active-border-color: #198754;
    --bs-nav-tabs-link-active-color: white;
    --bs-nav-tabs-link-active-bg: #00918B;  
    --bs-nav-tabs-link-hover-border-color: #198754; */
    margin: 2rem 0;
    --bs-nav-tabs-link-active-border-color: #198754;
    --bs-nav-tabs-link-active-color:#198754 ;
    --bs-nav-tabs-link-active-bg: white;  
    --bs-nav-tabs-link-hover-border-color: #198754;

}

.property-type-tab{
    margin-top: 0.5rem;
}

.propertyTypeTab-container {
    margin: 1rem 0 ;
    padding: 0;
}

.propertyPricing-card-content {
    padding: 0.75rem 0;
}

.pricing-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 1.25rem;
}

.availableUnit {
    margin-top: 1rem;
}

.availableUnit,
.propertyPricing-card-content > * p {
    margin-bottom: 0;
}

.pricing-subtitle {
    color: grey;
    font-size: 14px;
}

.availableUnit-detail {
    border-bottom: 0;
}

.availableUnit-table thead tr th {
    font-weight: 400;
    border-top: 1px solid #dee2e6;
    padding: 0 0.25rem;
}

.availableUnit-table {
    margin-top: 1rem;
}

.showMoreLessBtn-container {
      display: flex;
    justify-content: center;
    flex-direction: column;
}

.showMoreLessBtn.btn-outline-primary,
.showMoreLessBtn.btn-outline-primary:active {
    border: 1px solid #198754;
    color:#198754;
    font-size: 1rem;
    margin-left: 0;
    padding: 0.5rem;
    height: auto;
    margin: 1rem 0;
    background-color: white;
}

.showMoreBtnArrowIcon {
    width: 25px;
}

@media only screen and (min-width: 48rem) {
    .property-pricing-tabs {
        font-size: 1rem;
    }
}

