.propertyPricing-container {
    padding: 0;
    margin: 3rem 0;
}

.propertyPricing-card {
   border: 1px solid #198754;
   margin: 0.5rem;
   border-radius: 8px;
}

.nav-tabs .nav-link {
     border:0.1px solid #cacaca8b;
      border-radius: 0;
      color: white; 
      background-color:#198754 ;
      font-size: 1rem;
} 

.nav-link {
    width: 100px;
}

.nav-tabs {
    border: 0;
    margin: 2rem 0;
    --bs-nav-tabs-link-active-border-color: #198754;
    --bs-nav-tabs-link-active-color:#198754 ;
    --bs-nav-tabs-link-active-bg: white;  
    --bs-nav-tabs-link-hover-border-color: #198754;
}

.property-type-tab{
    margin-top: 0.5rem;
}

.propertyTypeTab-container {
    margin: 1rem 0 ;
    padding: 0;
}

.propertyPricing-card-content {
    padding: 0.75rem 0;
}

.pricing-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    line-height: 1.25rem;
}

.availableUnit {
    margin-top: 1rem;
    color: #198754;
    font-weight: bold;
}

.availableUnit,
.propertyPricing-card-content > * p {
    margin-bottom: 0;
}

.pricing-subtitle {
    color: grey;
    font-size: 14px;
}

.availableUnit-detail {
    border-bottom: 0;
}

.availableUnit-table thead tr th {
    font-weight:500;
    border-top: 1px solid #dee2e6;
}

.availableUnit-table {
    margin-top: 1rem;
}

.showMoreLessBtn-container {
      display: flex;
    justify-content: center;
    flex-direction: column;
}

.showMoreLessBtn.btn-outline-primary,
.showMoreLessBtn.btn-outline-primary:active {
    border: 1px solid #198754;
    color:#198754;
    font-size: 1rem;
    margin-left: 0;
    padding: 0.5rem;
    height: auto;
    margin: 1rem 0;
    background-color: white;
    border-radius: 8px;
}

.showMoreBtnArrowIcon {
    width: 25px;
}

.availableUnit-amenity-list {
    list-style: disc;
}

.availableUnit-amenity-ul {
    margin-left: 0;
}

.availableUnit-amenity-title,
.availableUnit-detail-lease,
.availableUnit-deposit-title{
    margin-bottom: 0;
    font-weight: bold;
}

.availableUnit-detail-title {
    font-weight: bold;
}

.availableUnit-deposit-title {
    margin-right: 0.25rem;
}
.property-image {
    width: 100%; 
    height: 200px;
    object-fit: cover;
}

@media only screen and (min-width: 48rem) {
    .property-pricing-tabs,
    .availableUnit-table > *,
    .availableUnit {
        font-size: 1rem;
    }
}


