.propertyDetail-section {
  margin-top: 1rem;
}

.propertyDetail-section-title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.propertyDetail-section-list {
  list-style-type: disc;
  padding-left: 20px;
}

.utilityLease-list {
  margin-bottom: 0;
}

.two-column-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-inline-start: 0;
}

.two-column-list li {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
}

.two-column-list li::before {
  content: "•";
  margin-right: 5px;
}

.propertyDetail-container{
  padding-left: 0;
}

 @media only screen and (min-width: 48rem) {
  .two-column-list li {
      flex: 0 0 40%;
  }
}-section {
    margin-top: 1rem;
  }
  
  .propertyDetail-section-title {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .propertyDetail-section-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .utilityLease-list {
    margin-bottom: 0;
  }

  .two-column-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-inline-start: 0;
  }
  
  .two-column-list li {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
  }
  
  .two-column-list li::before {
    content: "•";
    margin-right: 5px;
  }

  .propertyDetailDetail-container{
    padding-left: 0;
  }

   @media only screen and (min-width: 48rem) {
    .two-column-list li {
        flex: 0 0 40%;
    }
}