.transport-table tbody tr {
    border-bottom: 1px solid #cacaca;
  }

  .transport-table thead tr {
        border-bottom: 1px solid #3A4B40;
  }

  .transport-table tbody td,
  .transport-table thead th,
  .transport-table tbody .empty-cell {
    text-align: center;
  }

  .transport-table tbody td,
  .transport-table thead th {
    padding-left: 0;
  }

  .transport-table tbody td:last-child,
  .transport-table thead th:last-child  {
    text-align: end;
    padding-right: 0;
  }

  .transport-table tbody td:first-child,
  .transport-table thead th:first-child  {
    text-align: start;
  }
  
  .transport-table {
    margin-bottom: 2rem;
  }

  .transport-container {
    margin-top: 3rem;
    padding-left: 0;
  }

  .transport-icon {
    width: 25px;
    margin-left: 0.25rem;
  }

  .transport-table tbody tr .transitType-stop {
    color: #4D634F; 
    font-weight: bold;
  }
  

  