
.MyPage_name {
  color:'darkgray';
  font-weight: bolder;
}
.MyPage_title,.recom{
  color:#198754;
  font-weight: bold;
}
.MyPage-card {
  transition: transform 0.3s ease; /* Add a transition for smooth animation */
}

.MyPage-card:hover {
  transform: scale(1.1); /* Scale up the card on hover */
  z-index: 1;
}

.recom{
  margin:10px;
}
.empty {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width:80vw;
  font-size: 2rem;
  
}


.MyPage_link{
  cursor: pointer;
}
.MyPage_link:hover{
  color: #198754;
}

