.main-navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.5rem 0.7rem;
	background-color: white;
	font-weight: 600;
	z-index: 10;
	background-color: aqua;
}
.main-navbar .container {
	max-width: 100%;
	padding: 0;
}
.logo-area {
	padding: 0 4rem 0 4rem;
}
.english {
	margin-left: 1.5rem;
}

.nav-extra-item {
	margin-right: 1.5rem;
}
/* 
.appLayout-center-section {
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
    padding-left: 180px;
  
}

.appLayout-right-section {
    display: flex;
    position: relative;
}
.appLayout-right-section-login {
    display: flex;
    position: absolute;
    right: 9rem;
}
.appLayout-right-section-login button {
    border: none;
    background-color: white;
    width: 5rem;
    font-weight: 500;
}
.appLayout-right-section-login button:hover {
    color: green;
}
.appLayout-right-section-wrap {
    display: flex;
}
.appLayout-right-section-add-property {
    border: none;
    background-color: #666;
    z-index: 10;
    padding-left: 1rem;
    color: #fff;
    font-weight: 600;
}
.appLayout-right-section-login button:hover {
    color: green;
}
.appLayout-right-section-add-property:hover {
    text-decoration-line: underline;
}
.googlelogo{
    width:20px;
  }
  .loginBtn{
    border-radius: 50px;
  }
  .nav{
    align-content:center;
    align-items:center;
  }  */
