/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital@0;1&display=swap'); */

.Footer {
	margin-top: auto;
}
#root > div.App > div > div:nth-child(3) > div > div > div:nth-child(2) {
	border-bottom: none;
}
.footer-container {
    background-color: #2e9a5d;
    color: white;
    height: 25rem;
    width: 100%;
}
.footer-second-section {
	padding-top: 1rem;
	position: relative;
}
.footer-second-section-content-part {
	display: flex;
	width: 100%;
}
.footer-second-section-content {
	padding-right: 4rem;
	cursor: pointer;
}
.footer-second-section-content h6 {
	margin-bottom: 1rem;
	font-size: 1.1rem;
	font-weight: 600;
}
.footer-second-section-content div {
	margin: 0.5rem 0rem;
	font-size: 0.9rem;
}
.footer-second-section-content div:hover {
	color: #77e6a7;
}
.footer-second-section-icon-part {
    /* position: absolute;
    padding: 0px;
    bottom: 6rem;
    cursor: pointer; */
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    bottom: 6rem; /* 이 부분은 필요에 따라 조정하세요 */
    cursor: pointer;
}
.footer-second-section-icon {
	margin: 0.3rem;
	padding: 0.6rem;
	border: 2px solid white;
	border-radius: 100px;
	height: 1.3rem;
	width: 1.3rem;
}
.footer-second-section-icon:hover {
	border: 2px solid #77e6a7;
}
.footer-third-section {
    padding-top: 2rem;
}
.footer-third-section span {
	cursor: pointer;
	text-decoration: underline;
}
.footer-third-section span:hover {
    color: #77e6a7;
}

@media (min-width: 500px) and (max-width: 992px) {
    .footer-container {
        background-color: #2e9a5d;
        color: white;
        height: 21rem;
        text-align: center;
    }
    .footer-second-section-content {
        padding-right: 0rem;
    }
    .footer-second-section-content h6 {
        font-size: 1rem;
        font-weight: 600;
    }
    .footer-second-section-content h6:hover {
        color: #77e6a7;
    }
    .footer-content-list {
        display: none;
    }
    .footer-second-section-content-part {
        display: block;
    }
    .footer-third-section {
        padding-top: 1.5rem;
    }
    .footer-second-section-icon {
        margin: 0.2rem;
        padding: 0.3rem;
        border: 1px solid white;
        height: 1rem;
        width: 1rem;
    }
    .footer-second-section-icon-part {
        display: none;
    }
}
